<h1>{{localize "BTFG.CompendiumExporter.Title"}}</h1>

{{#if babeleActive}}
  <p class="warn-babele">{{localize "BTFG.CompendiumExporter.WarnBabeleActive"}}</p>
{{/if}}

<p>
  {{localize "BTFG.CompendiumExporter.SelectedCompendium"}}
  <strong>
    {{pack.metadata.label}} ({{localize "BTFG.CompendiumExporter.CompendiumIndexSize" size=pack.index.size}})
  </strong>
</p>

<div class="flexcol">
  {{#if canCustomizeMapping}}
    <fieldset>
      <legend>{{localize "BTFG.CompendiumExporter.CustomMapping"}}</legend>
      <p class="notes">{{localize "BTFG.CompendiumExporter.CustomMappingHint"}}</p>

      {{#if actorMapping}}
        {{> (template "_default-mapping.html.hbs") type="actor" mapping=object.customMapping.actor}}
      {{/if}}

      {{#if adventureMapping}}
        {{> "templates/generic/tab-navigation.hbs" tabs=tabs}}

        <div class="tab{{#if tabs.actor.active}} active{{/if}}" data-group="mapping" data-tab="actor">
          {{> (template "_default-mapping.html.hbs") type="actor" mapping=object.customMapping.actor}}
        </div>
        <div class="tab{{#if tabs.item.active}} active{{/if}}" data-group="mapping" data-tab="item">
          {{> (template "_default-mapping.html.hbs") type="item" mapping=object.customMapping.item}}
        </div>
      {{/if}}

      {{#if itemMapping}}
        {{> (template "_default-mapping.html.hbs") type="item" mapping=object.customMapping.item}}
      {{/if}}
    </fieldset>
  {{/if}}

  <div class="form-group">
    <label for="existingFile">{{localize "BTFG.CompendiumExporter.UseExistingFile"}}</label>
    <input type="file" id="existingFile" name="existingFile" accept=".json" />
    {{#if selectedFileName}}
      <div class="form-group">
        <p>{{localize "BTFG.CompendiumExporter.SelectedFile"}} <strong>{{selectedFileName}}</strong></p>
        <p>
          <button type="button" data-action="unselectFile">
            <i class="fa fa-trash"></i> {{localize "BTFG.CompendiumExporter.UnselectExistingFile"}}
          </button>
        </p>
      </div>
    {{/if}}
    <p class="hint">{{localize "BTFG.CompendiumExporter.UseExistingFileHint"}}</p>
  </div>

  {{formGroup fields.sortEntries rootId=rootId value=object.sortEntries localize=true}}
  {{formGroup fields.useIdAsKey rootId=rootId value=object.useIdAsKey localize=true}}
  {{formGroup fields.generateModule rootId=rootId value=object.generateModule localize=true}}

  {{#if object.generateModule}}
    {{formGroup fields.translationLocale rootId=rootId value=object.translationLocale localize=true}}
  {{/if}}

  <footer class="footer flexrow">
    <button type="button" data-action="export">
      <i class="fa fa-check"></i> {{localize "BTFG.CompendiumExporter.GenerateFile"}}
    </button>
    <button type="button" data-action="cancel">
      <i class="fa fa-cancel"></i> {{localize "BTFG.CompendiumChooser.CancelSelection"}}
    </button>
  </footer>
</div>
