<h1>{{localize "BTFG.CompendiumExporter.Title"}}</h1>

{{#if babeleActive}}
  <p class="warn-babele">{{localize "BTFG.CompendiumExporter.WarnBabeleActive"}}</p>
{{/if}}

<p>
  {{localize "BTFG.CompendiumExporter.SelectedCompendium"}}
  <strong>{{log pack}}
    {{pack.metadata.label}} ({{localize "BTFG.CompendiumExporter.CompendiumIndexSize" size=pack.index.size}})
  </strong>
</p>

<form class="flexcol">
  <div class="form-group">
    <label for="sortEntries">{{localize "BTFG.CompendiumExporter.SortEntriesAlpha"}}</label>
    <input type="checkbox" value="1" id="sortEntries" name="sortEntries" />
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="fa fa-check"></i> {{localize "BTFG.CompendiumExporter.GenerateFile"}}
    </button>
    <button type="button" data-cancel>
      <i class="fa fa-cancel"></i> {{localize "BTFG.CompendiumChooser.CancelSelection"}}
    </button>
  </footer>
</form>
