<h1>{{localize "BTFG.CompendiumExporter.Title"}}</h1>

{{#if babeleActive}}
  <p class="warn-babele">{{localize "BTFG.CompendiumExporter.WarnBabeleActive"}}</p>
{{/if}}

<p>
  {{localize "BTFG.CompendiumExporter.SelectedCompendium"}}
  <strong>
    {{pack.metadata.label}} ({{localize "BTFG.CompendiumExporter.CompendiumIndexSize" size=pack.index.size}})
  </strong>
</p>

<form class="flexcol">
  {{#if canCustomizeMapping}}
    <div>
      <fieldset>
        <legend>{{localize "BTFG.CompendiumExporter.CustomMapping"}}</legend>
        <p class="notes">{{localize "BTFG.CompendiumExporter.CustomMappingHint"}}</p>

        {{#if actorMapping}}
          {{> (template "_default-mapping.html.hbs") type="actor" mapping=object.customMapping.actor}}
        {{/if}}

        {{#if adventureMapping}}
          <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="actor">{{localize "BTFG.CompendiumExporter.ActorMapping"}}</a>
            <a class="item" data-tab="item">{{localize "BTFG.CompendiumExporter.ItemMapping"}}</a>
          </nav>

          <section class="sheet-body">
            <div class="tab" data-group="primary" data-tab="actor">
              {{> (template "_default-mapping.html.hbs") type="actor" mapping=object.customMapping.actor}}
            </div>
            <div class="tab" data-group="primary" data-tab="item">
              {{> (template "_default-mapping.html.hbs") type="item" mapping=object.customMapping.item}}
            </div>
          </section>
        {{/if}}

        {{#if itemMapping}}
          {{> (template "_default-mapping.html.hbs") type="item" mapping=object.customMapping.item}}
        {{/if}}
      </fieldset>
    </div>
  {{/if}}
  <div class="form-group">
    <label for="existingFile">{{localize "BTFG.CompendiumExporter.UseExistingFile"}}</label>
    <input type="file" id="existingFile" name="existingFile" accept=".json" />
    {{#if selectedFileName}}
      <div class="form-group">
        <p>{{localize "BTFG.CompendiumExporter.SelectedFile"}} <strong>{{selectedFileName}}</strong></p>
        <p>
          <button type="button" data-action="unselectFile">
            <i class="fa fa-trash"></i> {{localize "BTFG.CompendiumExporter.UnselectExistingFile"}}
          </button>
        </p>
      </div>
    {{/if}}
    <p class="notes">{{localize "BTFG.CompendiumExporter.UseExistingFileHint"}}</p>
  </div>
  <div class="form-group">
    <label for="sortEntries">{{localize "BTFG.CompendiumExporter.SortEntriesAlpha"}}</label>
    <input type="checkbox" value="1" id="sortEntries" name="sortEntries" {{checked object.sortEntries}} />
  </div>
  <div class="form-group">
    <label for="useIdAsKey">{{localize "BTFG.CompendiumExporter.UseIdAsKey"}}</label>
    <input type="checkbox" value="1" id="useIdAsKey" name="useIdAsKey" {{checked object.useIdAsKey}} />
  </div>
  <div class="form-group">
    <label for="generateModule">{{localize "BTFG.CompendiumExporter.GenerateModule"}}</label>
    <input type="checkbox" value="1" id="generateModule" name="generateModule" {{checked object.generateModule}} />
  </div>
  {{#if object.generateModule}}
    <div class="form-group">
      <label for="translationLocale">{{localize "BTFG.CompendiumExporter.TranslationLocale"}}</label>
      <select id="translationLocale" name="translationLocale">
        {{selectOptions availableLocales selected=object.translationLocale}}
      </select>
    </div>
  {{/if}}
  <footer class="sheet-footer flexrow">
    <button type="button" data-action="export">
      <i class="fa fa-check"></i> {{localize "BTFG.CompendiumExporter.GenerateFile"}}
    </button>
    <button type="button" data-action="cancel">
      <i class="fa fa-cancel"></i> {{localize "BTFG.CompendiumChooser.CancelSelection"}}
    </button>
  </footer>
</form>
