<div>
  <h1>{{localize "BTFG.CompendiumChooser.Title"}}</h1>

  {{#if pack}}
    <p>{{localize "BTFG.Global.SelectedCompendium"}} <strong>{{pack.metadata.label}}</strong></p>

    <p class="flexrow">
      <button type="button" data-process>{{localize "BTFG.CompendiumChooser.ProcessSelection"}}</button>
      <button type="button" data-cancel>{{localize "BTFG.CompendiumChooser.CancelSelection"}}</button>
    </p>
  {{/if}}
  {{#unless pack}}
    <p>{{localize "BTFG.CompendiumChooser.Explaination"}}</p>

    <div class="drop-zone">
      <p>{{localize "BTFG.CompendiumChooser.DropHere"}}</p>
    </div>
  {{/unless}}
</div>
